/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */
.contenitore {
    margin: auto;
    max-width: 1200px;
    /* ELIMINARE */
    background-color: bisque;
    min-height: 5000px;
}

.banner-alto {
    position: fixed;
    height: 70px;
    background-color: #3161e0;
    z-index: 69;
    width: 1200px;
    padding: 10px;
}

.logo {
    vertical-align: middle;
    padding-top: 10px;
    margin-left: 133px;
    margin-right: 33px;
}

nav, ul, li, a {
    display: inline-block;
    text-decoration: none;
    padding-top: 2px;
    vertical-align: middle;
    margin-left: 20px;
    color: white;
}

.bottone-banner {
    background-color: white; 
    color: #3161e0;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 143px;
    margin-top: 9px;
    vertical-align: middle;
    position: fixed;
    z-index: 70;
  }
}
